/*! Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(
    115deg,
    rgba(58, 58, 158, 0.8),
    rgba(136, 136, 206, 0.7)
  ),
  url(https://raw.githubusercontent.com/lasjorg/fcc-form-example-image/master/67103817-7c51e200-f18b-11e9-975f-f74561336a9a-lj.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin: 10px;
  color: #fff;
}


#container {
  max-width: 90vh;
  margin: auto;
  padding-left: 30px;
  border: 2px solid;
  border-radius: 10px;
  background: rgba(27, 27, 50, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  align-items: center;
}


#container .center {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 1rem;
}

#container label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
input[type='email'] { 
  display: block;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 80%;
  margin: 10px;
  align-self: center;
}

textarea {
  width: 80%;
  height: 4rem;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

/*!ERROR MESSAGE  */
.text-danger {
  color: rgb(255, 0, 0);
  font-size: 1.20rem;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
  margin: 5px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
}

.mini-head {
  text-transform: capitalize;
  text-decoration: underline;
  margin-top: 1.5rem;
}
select {
  padding: 8px;
  font-size: 0.75rem;
  width: 80%;
  margin-left: 0.75rem;
  border-radius: 5px;
}

select:hover {
  background: #555;
  color: #fff;
}

.btn {
  display: inline-block;
  width: 80%;
  padding: 8px;
  margin: 10px auto;
  cursor: pointer;
}

.btn:hover {
  background: #555;
  color: #fff;
}

@media (min-width: 500px) {
  body {
    padding: 30px;
  }

  #container {
    width: 100%;
  }
}